header{
    height: 80px;
    padding: 0 220px;
    .container{ 
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu{
            display: flex;
            flex-direction: row;
            align-items: center;
            a{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 40px;
                padding: 20px 10px;
                background-color:#f0f8ff ;
                color: #4b9ce2;
                border-radius: 8px;
                font-weight: bold;
                font-size: 15px;   
            }

            .addProduct{
                margin-right: 10px;
                
                svg{
                    margin-right: 6px;
                }
            }
            .myProfile{
                svg{
                    margin-right: 6px;
                }
            }
        }
    }
    

}

@media screen and (min-width:1026px) and (max-width:1440px){
    header{
        padding: 0 10px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    header{
        padding: 0 10px;
    }
}
@media screen and (min-width:426px) and (max-width:768px){
    header{
        padding: 0 10px;
    }
}
@media screen and (min-width:376px) and (max-width:425px){
    header{
        padding: 0 10px;
    }
}
@media screen and (max-width:375px) {
    header{
        padding: 0 10px;
        .container{
            .menu{
                .addProduct{
                    width: 40px;
                    svg{
                        margin-right:0 ;
                    }
                    .addProductText{
                        display: none;
                    }
                }

                .myProfile{
                    width: 116px;
                    svg{
                        margin-right: 5px;
                    }
                }

            }
        }


    }
}
    