.productDetail{
    background-color: #f2f2f2;
    padding: 20px 220px;
    height: 100%;
    .productCard{
        max-width: 1480px;
        height: 769px;
        border-radius: 8px;
        background-color: white;
        color: #555555;
        padding: 16px 15px;
        display: flex;
    
        .noFoundProduct{
            display: flex;
            height: 50px;
            background-color: #FFE5E5;
            align-items: center;
            padding: 20px;
            border-radius: 8px;
            color: #F77474;
        }

        img{
            min-width: 700px;
            height: 737px;
            object-fit: cover;
            border-radius: 8px;
        }

        .productBody{
            padding: 30px 60px;
            width: 100%;
            .title{
                font-size: 34px;
                margin-bottom: 25px;
            }

            //second detail div
            :nth-child(3){
                margin: 20px 0;
            }

            .details{
                display: flex;
                flex-direction: row;
                font-size: 15px;

                .brand{
                    margin-right: 98px;
                    font-weight: bold;
                }
                .color{
                    margin-right: 105px;
                    font-weight: bold;
                }
                .status{
                    margin-right: 18px;
                    font-weight: bold;
                }
            }

            .price{
                font-size: 25px;
                font-weight: bold;
                margin:30px 0;

                .offer{
                    font-weight:400;
                    width: 230px;
                    height: 36px;
                    background-color:#f2f2f2;
                    color: #b1b1b1;
                    padding: 8px 10px;
                    font-size: 15px;   
                    border-radius: 8px;
                    display: flex;
                    align-items: center;

                    span{
                        margin-left: 4px;
                        font-weight: bold;
                        color: #555555;
                    }
                }
            }

            .soldContainer{
                width: 285px;
                height: 45px;
                margin-bottom: 40px;
                display: flex;
            }
            .sold{
                width: 100%;
                background-color: #FFF0E2;
                color: #FAAD60;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                font-weight: bold;
                font-size: 18px;
            }

            .buttons{
                margin-bottom: 30px;
                display: flex;
                width: 100%;
                button{
                    width: 235px;
                    height: 45px;
                    border-radius: 8px;
                    font-weight: bold;
                }
                .buy{
                    background-color: #4b9ce2;
                    color: white;
                    margin-right: 10px;
                }
                .offer{
                    background-color: #f0f8ff;
                    color:#4b9ce2 ;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
            .description{
                max-width: 480px;

                div{
                    font-family: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                p{
                    font-size: 15px;
                    line-height: 23px;
                }
            }
            

        }
    }

}

.offerModal{
    padding: 20px;

    .modalHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;
        
        
        h1{
            font-size: 25px;
            font-weight: bold;
        }
        .closeIcon{
            cursor: pointer;
        }
    }

    .modalProduct{
        padding: 6px;
        background-color: #f0f8ff;
        border-radius: 10px;
        margin-bottom: 20px;

        .detail{
            display: flex;

            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 8px;
                margin-right: 7px;
            }

            .info{
                width: 100%;
                display: flex;
                justify-content: space-between;

                .price{
                    align-self: center;
                    font-weight: bold;

                }
               
            }
        }
        
    }

    .modalOffers{
        
        display: flex;
        flex-direction: column;
        
        label{
            display: flex;
            align-items: center;
            padding: 10px 13px ;
            border: 1px solid #b1b1b1;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        .textOfferLabel{
            border: none;
            background-color: #F4F4F4;
            color: #99A0A7;
            display: flex;
            justify-content: space-between;

            input{
                background-color: transparent;
                width: 100%;
                outline: none;
            }
        }

        .activeOffer{
            background-color: #f0f8ff !important;
            color: #4b9ce2 !important;
            border: 1px solid #4b9ce2 !important;
        }

        .inputText{
            background-color: #F4F4F4;
            border: none;
            outline: none;
            width: 100%;
        }
        

        input[type="radio"]{
            margin-right: 5px;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid #b1b1b1;
            border-radius: 50%;

        }

        input[type="radio"]:checked{
            background-color: #4b9ce2;
            div{
                background-color: #4b9ce2;
            }
        }

        input[type="radio"]:checked::before{
            content: '\2713';
            font-size: 13px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .buttonContainer{
            display: flex;
            justify-content: center;
        }

        button{
            width: 315px;
            height: 45px;
            background-color: #4b9ce2;
            color: white;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

.buyModal{
    padding: 20px;
    .modalBody{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 12px;
        }
        h5{
            margin-bottom: 20px;
        }
        .buttons{
            display: flex;
            flex-direction: row;

            button{
                width: 150px;
                height: 45px;
                border-radius: 8px;
                font-weight: bold;
            }
            .remove{
                background-color: #f0f8ff;
                color:#4b9ce2 ;
                margin-right: 10px;
            }
            .buy{
                background-color: #4b9ce2;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


@media screen and (min-width:1026px) and (max-width:1440px) {
    
    .productDetail{
        padding: 10px;
        height: 100%;
        .productCard{
            height: 100%;
            display: flex;
            padding: 6px;
            img{
                min-width: 500px;
                height: 100%;
            }

            .productBody{
                padding: 25px;
                display: flex;
                flex-direction: column;

                .title{
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                :nth-child(3){
                    margin:10px 0 ;
                }


                .price{
                    font-size: 20px;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .offer{
                        width: 171px;
                        height: 30px;
                        padding: 7px 13px;
                        font-size: 12px;
                        span{
                            font-size: 15px;
                        }
                    }
                }

                .description{
                    margin-top: 10px;
                }

                

                
            }
        }
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    
    .productDetail{
        padding: 10px;
        height: 100%;
        .productCard{ 
            height: 100%;
            display: flex;
            padding: 6px;
            img{
                min-width: 500px;
                height: 100%;
            }

            .productBody{
                padding: 10px;
                display: flex;
                flex-direction: column;

                .title{
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                :nth-child(3){
                    margin:10px 0 ;
                }


                .price{
                    font-size: 20px;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .offer{
                        width: 171px;
                        height: 30px;
                        padding: 7px 13px;
                        font-size: 12px;
                        span{
                            font-size: 15px;
                        }
                    }
                }

                .description{
                    margin-top: 10px;
                }

                

                
            }
        }
    }
}
@media screen and (min-width:426px) and (max-width:768px) {
    
    .productDetail{
        padding: 10px;
        height: 100%;
        .productCard{
            display: flex;
            flex-direction: column;
            padding: 6px;
            img{
                min-width: 100%;
                height: 400px;
                object-fit: contain;
            }

            .productBody{
                padding: 10px;
                display: flex;
                flex-direction: column;

                .title{
                    order: 1;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                :nth-child(3){
                    margin:10px 0 ;
                }

                .details{
                    order: 3;
                }

                .price{
                    font-size: 20px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    order: 2;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .offer{
                        width: 171px;
                        height: 30px;
                        padding: 7px 13px;
                        font-size: 12px;
                        span{
                            font-size: 15px;
                        }
                    }
                }

                .description{
                    margin-top: 10px;
                    order: 4;
                }

                .buttons{
                    display: flex;
                    justify-content: center;
                    position: fixed;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    background-color: white;
                    padding: 10px;
                    margin-bottom: 0px;
                }

                .soldContainer{
                    margin-bottom: 0px;
                    position: fixed;
                    width: 100%;
                    left: 0;
                    padding: 10px;
                    bottom: 0;
                    height: 65px;
                    background-color: white;
                }
            }
        }
    }
}
@media screen and (min-width:376px) and (max-width:425px) {
    
    .productDetail{
        padding: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        .productCard{
            width: 355px;
            height: 676px;
            display: flex;
            flex-direction: column;
            padding: 6px;
            img{
                min-width: 100%;
                height: 362px;
            }

            .productBody{
                padding: 10px;
                display: flex;
                flex-direction: column;

                .title{
                    order: 1;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                :nth-child(3){
                    margin:10px 0 ;
                }

                .details{
                    order: 3;
                }

                .price{
                    font-size: 20px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    order: 2;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .offer{
                        width: 171px;
                        height: 30px;
                        padding: 7px 13px;
                        font-size: 12px;
                        span{
                            font-size: 15px;
                        }
                    }
                }

                .description{
                    margin-top: 10px;
                    order: 4;
                }

                .buttons{
                    position: fixed;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    background-color: white;
                    padding: 10px;
                    margin-bottom: 0px;
                }

                .soldContainer{
                    margin-bottom: 0px;
                    position: fixed;
                    width: 100%;
                    left: 0;
                    padding: 10px;
                    bottom: 0;
                    height: 65px;
                    background-color: white;
                }
            }
        }
    }
}
@media screen and (min-width:321px) and (max-width:375px) {
    
    .productDetail{
        padding: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        .productCard{
            width: 355px;
            height: 676px;
            display: flex;
            flex-direction: column;
            padding: 6px;
            img{
                min-width: 100%;
                height: 362px;
            }

            .productBody{
                padding: 10px;
                display: flex;
                flex-direction: column;

                .title{
                    order: 1;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                :nth-child(3){
                    margin:10px 0 ;
                }

                .details{
                    order: 3;
                }

                .price{
                    font-size: 20px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    order: 2;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .offer{
                        width: 171px;
                        height: 30px;
                        padding: 7px 13px;
                        font-size: 12px;
                        span{
                            font-size: 15px;
                        }
                    }
                }

                .description{
                    margin-top: 10px;
                    order: 4;
                }

                .buttons{
                    position: fixed;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    background-color: white;
                    padding: 10px;
                    margin-bottom: 0px;
                }

                .soldContainer{
                    margin-bottom: 0px;
                    position: fixed;
                    width: 100%;
                    left: 0;
                    padding: 10px;
                    bottom: 0;
                    height: 65px;
                    background-color: white;
                }
            }
        }
    }
}
@media screen and (max-width:320px){
    .productDetail{
        padding: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        .productCard{
            width: 300px;
            height: 676px;
            display: flex;
            flex-direction: column;
            padding: 6px;
            img{
                min-width: 100%;
                height: 362px;
            }

            .productBody{
                padding: 10px;
                display: flex;
                flex-direction: column;

                .title{
                    order: 1;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                :nth-child(3){
                    margin:10px 0 ;
                }

                .details{
                    order: 3;
                }

                .price{
                    font-size: 20px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    order: 2;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .offer{
                        width: 171px;
                        height: 30px;
                        padding: 7px 13px;
                        font-size: 12px;
                        span{
                            font-size: 15px;
                        }
                    }
                }

                .description{
                    margin-top: 10px;
                    order: 4;
                }

                .buttons{
                    position: fixed;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    background-color: white;
                    padding: 10px;
                    margin-bottom: 0px;
                }

                .soldContainer{
                    margin-bottom: 0px;
                    position: fixed;
                    width: 100%;
                    left: 0;
                    padding: 10px;
                    bottom: 0;
                    height: 65px;
                    background-color: white;
                }
            }
        }
        
    }
}