.userProfile{
    height: 100%;
    background-color: #f2f2f2;
    padding:20px 220px ;

    .userInfoContainer{
        width: 100%;
        height: 70px;
        background-color: white;
        border-radius: 8px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 26px;
        margin-bottom: 10px;
       .info{
           display: flex;
           align-items: center;

           svg{
               margin-right: 10px;
           }
           span{
               font-weight: bold;
           }
        }

        .logoutContainer{
            .logout{
                cursor: pointer;
            }
        }
    }

    .productInfo{
        background-color: white;
        border-radius: 8px;

        .emptyProduct{
            color: #f77474;
            
        }

        .takenOffers{
            height: 104px;
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            border: 1px solid #f2f2f2;
            border-radius: 8px;

            img{
                width: 78px;
                height: 84px;
                margin-right: 10px;
                object-fit: cover;
            }

            .offerContainer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .info{
                    height: 100%;

                    h1{
                        font-size: 18px;
                        color: #555555;
                    }
                    div{
                        width: 230px;
                        height: 36px;
                        background-color: #f2f2f2;
                        padding: 10px 8px;
                        margin-top: 7px;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        color: #b1b1b1;

                        span{
                            color: #525252;
                            font-weight: bold;
                            margin-left: 7px;
                        }
                    }
                }

                .buttons{
                    display: flex;
                    flex-direction: row;

                    button{
                        height: 30px;
                        padding: 5px 20px;
                        border-radius: 8px;
                        font-size: 15px;
                        color: white;
                    }
                    .confirmBtn{
                        background-color: #4b9ce2;
                        margin-right: 10px;
                    }
                    .rejectBtn{
                        background-color: #f77474;
                    }

                    
                    .offerStatus.accept{
                        color: #4b9ce2;
                    }

                    .offerStatus.reject{
                        color: #f77474;
                    }

                }
            }
            

        }
        .givenOffers{
            height: 104px;
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            border: 1px solid #f2f2f2;
            border-radius: 8px;
            margin-bottom: 20px;

            img{
                width: 78px;
                height: 84px;
                margin-right: 10px;
                object-fit: cover;
            }

            .offerContainer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .info{
                    height: 100%;

                    h1{
                        font-size: 18px;
                        color: #555555;
                    }
                    div{
                        width: 230px;
                        height: 36px;
                        background-color: #f2f2f2;
                        padding: 10px 8px;
                        margin-top: 7px;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        color: #b1b1b1;

                        span{
                            color: #525252;
                            font-weight: bold;
                            margin-left: 7px;
                        }
                    }
                }

                .buttons{
                    display: flex;
                    align-items: center;
                    button{
                        height: 30px;
                        padding: 5px 20px;
                        border-radius: 8px;
                        font-size: 15px;
                        color: white;
                    }
                    .bought {
                        background-color:#46AF32;
                        margin-right: 10px;
                        color: white;
                        padding: 5px 20px ;
                        border-radius: 8px;
                    }
                    .confirm{
                        background-color: #4b9ce2;
                        margin-right: 10px;
                    }
                    .offerAccept{
                        color: #4B9CE2;
                    }
                    .offerReject{
                        color:#F77474;
                    }
                    .offerWaiting{
                        font-size: 12px;
                        color: #B1B1B1;
                    }

                }
            }
            

        }
    }
}


@media screen and (max-width:375px) {
    .userProfile{
        padding: 10px 10px;

        .productInfo{
            //for chakra table
            .chakra-tabs{
                .chakra-tabs__tablist{
                    display: flex;
                    padding: 0px 20px;
                }
                .chakra-tabs__tab-panels{
                    .chakra-tabs__tab-panel {
                        padding: 10px;
                    }
                } 
            }

            .takenOffers{
                height: 134px;

                .offerContainer{
                    display: flex;
                    flex-direction: column;

                    .info{
                        h1{
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 200px;
                        }
                    }
                    .buttons{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        button{
                            width: 108px;
                        }
                    }
                }
            }

            .givenOffers{
                height: 134px;
                .offerContainer{
                    display: flex;
                    flex-direction: column;

                    .info{
                        h1{
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 200px;
                        }
                    }

                    .buttons{
                        width: 100%;
                        display: flex;

                        .confirm{
                            width: 108px;
                            margin-right:31px;
                        }
                        .offerWaiting{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        
    }
}