html, body, #root, .App {
    height: 100%;
    width: 100%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}
//font import
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@400;700&display=swap');

@import '_register';
@import '_login';
@import '_header';
@import '_home';
@import '_productAdd';
@import '_productDetail';


.errormes{
    display: flex;
    align-items: center;
    height: 60px;
    width: 355px;
    border-radius: 10px !important;
    padding: 12px 19px !important;
    box-shadow: 0px 3px 12px #1E36482E !important;
    background-color: #ffe5e5 !important;
    color: #f77474;
    svg{
        margin-right: 10px;
    }
}

.successmes{
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 355px;
    border-radius: 10px !important;
    padding: 12px 19px !important;
    box-shadow: 0px 3px 12px #1E36482E !important;
    background-color: #F1FFF0 !important;
    color: #46AF32;
    svg{
        margin-right: 10px;
    }
}

.chakra-toast__inner{
    position: relative;
    top: 90px;
    right: 11px;
}
@media screen and (max-width:375px) {
    //all toast message (error and success)
    .chakra-toast__inner{
        position: relative;
        top: 80px;
        right: 4px;
    }
}